.blog-detail-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  
}

/* LEFT */
.blog-detail-left {
  display: flex;
  justify-content: center;
  width: 25%;
  padding-top: 15px;
}

/* CENTER */
.blog-detail-center {
  width: 50%;

}

/* RIGHT */
.blog-detail-right {
  width: 25%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/* 🔥 CATEGORY + STARS PILL */
.category-rating-pill {
  z-index: 20;
  width: 90%;
  margin: 0 auto;
  border-radius: 999px;
  display: none;
}


/// /* 📱 MOBILE FIXES */
@media (max-width: 1199px) {
  .blog-detail-row {
    flex-direction: column;
    row-gap: 16px;
    
  }

  .blog-detail-left,
  .blog-detail-center,
  .blog-detail-right {
    flex: unset;
    width: 100%;
    margin: 0 auto;
  }

  /* Action bar center */
  .blog-detail-left {
    order: 2;
    justify-content: center;
    padding-top: 0;
  }

  /* Tabs full width */
  .blog-detail-center {
    order: 3;
  }

  /* Category + stars pill */
  .blog-detail-right {
    order: 1;
    padding-top: 20px;
  }

}
